#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

:root{
  --blue-text: linear-gradient(289deg, #1850E1 48.86%, #7EA2FF 112.97%, #C5D5FF 112.97%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(180deg, #000814 0%, #040E1D 49%, #000814 100%);
  scroll-behavior: smooth;
}

#main-section{
  background-image: linear-gradient(to top, rgba(0, 8, 20, 0), rgba(0, 8, 20, 1));
}

#daviplaccologo, #iam, #frontend, #webdesigner, #chevronleft, #chevronright, #left-curly-brace, #right-curly-brace, #checkbtn, #myskills{
  background: var(--blue-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#BtnExperiencie{
  background-image: var(--blue-text);
  transition: 400ms ease-in-out;
}

#timeline{
  position: relative;
  max-width: 1280px;
}

#checkbtn{
  transition: 400ms ease-in-out;
}

#divider{
  width: 1280px;
  height: 2px;
  opacity: 0.12;
  background: linear-gradient(289deg, #1850E1 48.86%, #7EA2FF 112.97%, #C5D5FF 112.97%);
}

/* Animations */

/* Hero Section */

#daviplacco{
  animation: fadein 3s linear;
}

@keyframes fadein {
  0%{
    filter: blur(5px);
  }
  100%{
    filter: blur(0px);
  }
}

#iam{
  animation: fadeiam linear both;
  animation-timeline: view();
  animation-range: entry 100% cover 100%;
}

@keyframes fadeiam {
  0%{
    transform: translateX(-156px);
  }
  100%{
    transform: translateX(100px);
  }
}

#frontend{
  animation: fadefrontend linear both;
  animation-timeline: view();
  animation-range: entry 100% cover 100%;
}

@keyframes fadefrontend {
  0%{
    transform: translateX(156px);
  }
  100%{
    transform: translateX(-100px);
  }
}

#webdesigner{
  animation: fadewebdesigner linear both;
  animation-timeline: view();
  animation-range: entry 100% cover 100%;
}

@keyframes fadewebdesigner {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(100px);
  }
}

/*  */

/* About Me Section */

/*  */

/* Experiencie Section */

#timeline::after{
  content: '';
  position: absolute;
  width: 2px;
  height: 80%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -1px;
  z-index: -1;
  animation: scrolleffect linear both;
  animation-timeline: view();
  animation-range: entry 80% cover 80%;
}

@keyframes scrolleffect {
  from{
      height: 0;
  }
  to{
      height: 80%;
  }
}

#timelinecontainerone, #timelinecontainertwo, #timelinecontainertr, #experiencie{
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*  */