#root {
  margin: 0;
  padding: 0;
  text-align: center; 
}

:root{
  --blue-text: linear-gradient(289deg, #1850E1 48.86%, #7EA2FF 112.97%, #C5D5FF 112.97%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(180deg, #000814 0%, #040E1D 49%, #000814 100%);
}

#main-section{
  background-image: linear-gradient(to top, rgba(0, 8, 20, 0), rgba(0, 8, 20, 1));
}

/* Header Section */

#daviplaccologolink::after{
  content: attr(aria-label);
  background-color: rgb(43, 43, 43);
  border:  1.5px solid rgb(102, 102, 102);
  color: rgb(255, 255, 255) !important;
  font-weight: 400 !important;
  max-width: 200px;
  text-align: start;
  font-size: 16px;
  transform: translateX(-50px);
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  z-index: 2;
  transition: 400ms ease-in-out;
}

#daviplaccologolink:hover::after{
  opacity: 1;
  pointer-events: all;
}

/*  */

#daviplaccologo, #iam, #frontend, #webdesigner, #chevronleft, #chevronright, #left-curly-brace, #right-curly-brace, #checkbtn, #myskills, #davigmail{
  background: var(--blue-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#BtnExperiencie, #DownloadCV, #SeeProjects, #behanceBtn{
  background-image: var(--blue-text);
  transition: 400ms ease-in-out;
}

#behanceBtn:hover{
  background-position: center;
  background-size: 200%;
}

#SeeProjects:hover, #DownloadCV:hover, #BtnExperiencie:hover{
  background: white !important;
  color: black;
  -webkit-box-shadow: 2px 4px 80px 0px rgba(255,255,255,1);
  -moz-box-shadow: 2px 4px 80px 0px rgba(255,255,255,1);
  box-shadow: 2px 4px 80px 0px rgba(255,255,255,1);
}

#timeline{
  position: relative;
  max-width: 1280px;
}

#checkbtn{
  transition: 400ms ease-in-out;
}

#divider{
  width: 1280px;
  height: 2px;
  opacity: 0.12;
  background: linear-gradient(289deg, #1850E1 48.86%, #7EA2FF 112.97%, #C5D5FF 112.97%);
}

/* Animations */

/* Hero Section */

#daviplacco{
  animation: fadein 3s linear;
}

@keyframes fadein {
  0%{
    filter: blur(5px);
  }
  100%{
    filter: blur(0px);
  }
}

#iam{
  animation: fadeiam linear both;
  animation-timeline: view();
  animation-range: entry 100% cover 100%;
}

@keyframes fadeiam {
  0%{
    transform: translateX(-156px);
  }
  100%{
    transform: translateX(100px);
  }
}

#frontend{
  animation: fadefrontend linear both;
  animation-timeline: view();
  animation-range: entry 100% cover 100%;
}

@keyframes fadefrontend {
  0%{
    transform: translateX(156px);
  }
  100%{
    transform: translateX(-100px);
  }
}

#webdesigner{
  animation: fadewebdesigner linear both;
  animation-timeline: view();
  animation-range: entry 100% cover 100%;
}

@keyframes fadewebdesigner {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(100px);
  }
}

/*  */

/* About Me Section */

#aboutmeH2, #iamText, #aboutImage{
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#BtnExperiencie{
  animation: entryup linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 20%;
}

@keyframes entryup {
  from{
    transform: translateY(100px);
  }
  to{
    transform: translateY(0px);
  }
}

/*  */

/* Experiencie Section */

#timelinecontainerone, #timelinecontainertwo, #timelinecontainertr, #experiencie{
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/*  */

/* Skills Section */

#skillsimage, #myskills, #contibuteH2, #designercontainer, #webdesignercontainer, #frontendcontainer{
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

/*  */

/* Tools Section */

#toolsimage, #toolsH2, #reactcontainer, #apicontainer, #wordpresscontainer {
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

#reacticon, #tailwindicon, #nodeicon, #javascripticon, #apiicon, #cssicon, #sassicon, #lessicon, #wordpressicon, #elementoricon, #figmaicon, #photoshopicon{
  transition: 600ms ease-in-out;
  cursor: pointer;
}

#nodeicon:hover, #javascripticon:hover, #photoshopicon:hover{
  filter: blur(2px);
}

#reacticon:hover, #tailwindicon:hover{
  transform: rotate(180deg);
  scale: 1.05;
}

#apiicon:hover, #cssicon:hover, #sassicon:hover, #lessicon:hover, #figmaicon:hover{
  filter: brightness(150%);
}

#wordpressicon:hover{
  transform: rotate(360deg);
  scale: 1.05;
}

#elementoricon:hover{
  scale: 0.95;
  filter: brightness(70%);
}


#reacttext, #tailwindtext, #nodetext, #javascripttext, #apitext, #csstext, #sasstext, #lesstext, #wordpresstext, #elementortext, #figmatext, #photoshoptext{
  cursor: pointer;
}

#reacttext:hover::after, #tailwindtext:hover::after, #nodetext:hover::after, #javascripttext:hover::after, #apitext:hover::after, #csstext:hover::after, #sasstext:hover::after, #lesstext:hover::after, #wordpresstext:hover::after, #elementortext:hover::after, #figmatext:hover::after, #photoshoptext:hover::after{
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}

#reacttext::after, #tailwindtext::after, #nodetext::after, #javascripttext::after, #apitext::after, #csstext::after, #sasstext::after, #lesstext::after, #wordpresstext::after, #elementortext::after, #figmatext::after, #photoshoptext::after{
  content: attr(aria-label);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 400;
  max-width: 200px;
  text-align: start;
  font-size: 16px;
  padding: 10px 10px;
  margin-left: 10px;
  transform: translateY(-70px);
  border-radius: 5px;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  z-index: 2;
  transition: 400ms ease-in-out;
}

/*  */

/* Contact SEction */

/*  */

/* Footer */

#Linkedin, #GitHub, #Behance, #Instagram, #Whatsapp{
  transition: 400ms ease-in-out;
}

#Linkedin:hover, #GitHub:hover, #Behance:hover, #Instagram:hover, #Whatsapp:hover{
  transform: translateY(-5px);
}

/*  */


/* Responsive Home @medias */

@media screen and (max-width: 640px) {

  #main-section {
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
  }
  #herocontainer {
    width: 100vw;
    height: 60vh;
    flex-direction: column;
    text-align: center;
    padding-left: 10%;
    padding-bottom: 0;

    & #iam {
      width: max-content;
      animation: none;
    }

    & #daviplacco {
      font-size: 46px;
      width: max-content;
      margin: 0;
      padding: 0;
    }

    & #frontend {
      animation: none;
      width: max-content;
    }

    & #webdesigner {
      animation: none;
    }

  }
  #codeimage {
    display: none;
  }

  #hrcontainer{
    overflow-x: hidden;

    &  #hrone, #hrtwo {
      width: 1280px;
      max-width: 1280px;
      display: flex;
      transform: translateX(-400px);
      overflow-x: hidden;
    }
    
  }

  #aboutcontainer {
    display: flex;
    flex-direction: column;

    & div {
      display: flex;
      flex-direction: column-reverse;
      height: max-content;
      max-width: 100vw;
      justify-content: center;
      align-items: center;
    }
    

    & #aboutsectionone {
      width: 100vw;
      text-align: center;
    }

  }

  #experiencie {
      
    & h3, span {
      font-size: 26px;
    }
  }

  #timeline {
    
    & #timelinecontainerone, #timelinecontainertwo, #timelinecontainertr {
      display: flex;
      flex-direction: column;
      width: 100vw;
      justify-content: center;
      align-items: center;
      padding-bottom: 100px;

      & p {
        width: 350px;
        padding-bottom: none;
      }

    }
  }

}

/*  */

/* Projects Page */

/* Front-end Section */

#ImageFrontEnd {
  filter: drop-shadow(0px 5px 12px  #00000093);
  transition: 400ms ease-in-out;
}

#ImageFrontEnd:hover {
  filter: drop-shadow(0px 6px 16px  #000000b7);
  cursor: pointer;
  transform: translateY(-10px);
}

/*  */

/*  */